.react-grid-HeaderCell {
  background-color: #eee;
}

.react-grid-HeaderCell-sortable {
  overflow: hidden;
}

.react-grid-Toolbar {
  display: none;
}

.radio-custom-label:before, .react-grid-checkbox, .react-grid-checkbox-label:before {
  width: 17px !important;
  height: 17px !important;
}