$base-border: 1px solid rgb(211,211,211);
$base-app-padding: 30px;
$base-page-padding: 20px;
$base-box-shadow-color: rgba(0,0,0,.1);
$base-box-shadow: 0 1px 2px 0px $base-box-shadow-color, 0 0px 1px 0px $base-box-shadow-color;
$header-height: 50px;
$header-mobile-height: 100px;
$page-menu-height: 45px;
$footer-height: 35px;
$footer-border-height: 1px;
$left-nav-width: 200px;
$desktop: 1024px;
$size-6: 1rem;
$size-4: 1.5rem;
$size-5: 1.25rem;
$pacifico-brand: #9b7b34;
$text-light: grey;
$radius: 3px;
$primary: turquoise;
$grey-dark: hsl(0, 0%, 29%);
$grey-light: hsl(0, 0%, 71%);
$text: $grey-dark !default;
$text-invert: findColorInvert($text) !default;
