.avance-main-grid {
  display: grid;
  grid-template-rows: 20% 70%;  
  
  .avance-filter {
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 200px 200px 1fr;
    align-items: center;
    
    div.search-op {
      grid-column: 2 / 3;
      align-items: center;
      align-self: center;
      padding-left: 15px;
    }
    
    div.info {
      grid-column: 3 / 4;
      margin-top: 10px;
      padding-left: 15px;
      align-self: center;
      display: grid;
    }
  }

  .avance-result {
    padding-top: 10px;
  }
}

.ordem-producao {
  padding-left: 15px;
  &.label {
    margin-bottom: 0px;
    width: 115px;
    text-align: left;
  }
  &.field {
    width: 100px;
    text-align: right;
  }
}
