.SUS {
  display: grid;
  grid-template-rows: 220px 500px;
  
  .filter {
    display: inherit;
    grid-template-columns: 200px 375px 200px 150px;
    grid-template-rows: auto;
  
    .align-button {
      align-self: end;
      margin-bottom: 50px;
    }
  
    .filter-form {
      align-self: center;

      .labelMargin {
        margin-top: 5px;
        margin-bottom: 0;
      }
  
      #nivel {
        width: 55px;
        text-align: center;
      }
  
      #grupo {
        width: 70px;
        text-align: center;
      }
  
      #subgrupo {
        width: 55px;
        text-align: center;
      }
  
      #item {
        width: 80px;
        margin-right: 10px;
        text-align: center;
      }

      #fornecedor {
        text-transform: uppercase;
      }
    }
    .filter-situacoes-container {
      align-self: center;

      .filter-situacaoes {
        border: 1px solid #EEE; 
        width: 190px;
        padding: 0 0 0 5px;
        background: #eee;
        box-shadow: -1px -1px 1px #ccc, 1px 1px 1px #fff;
      }
    }
  }
}