body {
  background-color: #eee;
  font-size: 12px;
  font-family: "Roboto Condensed", "Trebuchet MS", Tahoma, Arial, Helvetica, sans-serif;
}

.navbar-inverse .navbar-brand {
  color: $pacifico-brand;
}

.panel-body {
  background-color: #eee;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  background-color: #cdcdcd;
  color: black;
  font-weight: 700;
  border: 1px solid #7a7a7a;
}

a {
  color: black;
  cursor: pointer;
}

.react-grid-HeaderCell {
  background-color: #cdcdcd;
}

.nav-tabs {
  border-bottom: 1px solid #7a7a7a;
}

.react-grid-Toolbar {
}

