body {
  background-color: #eee;
  font-size: 12px;
  font-family: "Roboto Condensed", "Trebuchet MS", Tahoma, Arial, Helvetica, sans-serif;
}

main {
  a {
    color: black;
    cursor: pointer;
  }
}

a:hover, a:focus {
  text-decoration: none;
}

footer#footer {
  position: fixed;
  bottom: 0;
}