.visualizador-grid-container {
  display: grid;
  grid-template-columns: auto 800px;
  grid-template-rows:  auto 510px;

  .localizador-grid-track {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .image-grid-track {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    border-left: 1px solid #cdcdcd;
    margin-top: 28px;
    padding-left: 10px;

    .image-container {
      width: 750px;

      .panel {
        background-color: transparent;
        height: 750px;
      }
    }
  }

  .visualizador-grid-track {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3; 
  }
}

#painel-visualizador {
  .referencia-container {
    #descricao {
      width: 100%;
      resize: none;
      cursor: default;
    }
    
    .form-group.descricao {
      height: 180px;
      margin: 10px;
    }

    .fullscreen-modal-container {
      display: inline-block;
    }

    .btn-toolbar .btn {
      float: none;
      margin-left: 10px;
    }

    .btn {
      margin-top: 10px;
      margin-right: 10px;
    }
    
    input {
      margin-top: 10px;
      display: inline-block;
      vertical-align: middle;
      text-transform: uppercase;
    }

    #nivel {
      width: 55px;
      margin-left: 5px;
      text-align: center;
    }

    #grupo {
      width: 70px;
      text-align: center;
    }

    #subGrupo {
      width: 55px;
      text-align: center;
    }

    #item {
      width: 80px;
      margin-right: 10px;
      text-align: center;
    }   
  }
}

.fullscreen-modal-container {  
  .descricao-input {
    @media screen and (min-width:420px) {
      input {
        display: inline-block;
        vertical-align: middle;
      }
      
      #descricao, #complemento {
        margin-top: 5px;
        width: 50%;
      }
    }
  }

  .produto-input {
    input {
      text-align: center;
    }

    @media screen and (min-width:420px) {  
      input {
        display: inline-block;
        vertical-align: middle;
      }

      #nivel {
        width: 55px;
      }

      #grupo {
        width: 70px;
      }

      #subGrupo {
        width: 55px;
      }

      #item {
        width: 80px;
      }   
    }
  }
  .descricao-input, .produto-input {
    input {
      text-transform: uppercase;
    }
  }

  .react-grid-Row > div, .react-grid-HeaderCell {
    background-color: gray; 
  }

  .react-grid-Row > div:nth-child(n + 7),
  .react-grid-HeaderCell:nth-child(n + 7) {
    background-color: skyblue;
  }

  .react-grid-Row:hover {
    background: gray !important;
    background-color: gray !important;  
  }

  .react-grid-Row:hover div:nth-child(n + 7) {
    background: skyblue !important;
    background-color: skyblue !important;
  }
}

::-webkit-input-placeholder {
  text-transform: none;
}
::-moz-placeholder {
  text-transform: none;
}